.button-wrapper {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #e0e1e6;
  color: #888;
  flex: 1;
  outline: 1px solid #888;
}

.button-wrapper:hover {
  background-color: #cacbce;
}

.operator {
  background-color: #92b7e4;
  color: white;
}
.operator:hover {
  background-color: #88a9d2;
}
